.nav ul{
    margin: auto;
    width: 40vw;
}
button{
    float: right;
}
@media screen and (min-width:900px){
    button{
        float:none;
    }
    .nav ul{
        width: auto;
    }
    .nav li{
        display: inline-block;
        font-size: 2rem;
        margin-left: 7vw;
    }
}